<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LACC Admin</title>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
		<link rel="stylesheet" href="/admin.css">
		<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css">
		<script src="jquery-1.11.0.min.js"></script>
		<script src="jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/admin.js"></script>
	</head>
	<body>
		<div id="letterbox">
			<div id="foreground">
				<span class="title_span">LACC Admin</span> <span class="logout_span"> <a href="/logout">Sign out</a></span>  <br />
				<div id="left_column">
					<form >
						<div id="radio">
							<input type="radio" id="add_point_radio" name="radio_panel" checked="checked"><label for="add_point_radio">Add Point</label> 
							<input type="radio" id="edit_category_radio" name="radio_panel" ><label for="edit_category_radio">Edit Category</label>
							<input type="radio" id="database_radio" name="radio_panel" ><label for="database_radio">Database</label>
						</div>
					</form > 

					<div id="add_point_panel">   
						<button type="button" id="add_point" value="add_point">
							Place New Point On Map
						</button>
						<form id="project_entry" enctype="multipart/form-data" action="/admin/update-project" method="post">
							 <ul >
								<li>
									<input id="project_lat" name="project_lat" type="text" placeholder="Project Latitude" required>
								</li>
									<li>
									<input id="p_id" name ="p_id" type="text" hidden>
									</li>
								<li>
									<input id="project_lng" name="project_lng" placeholder="Project Longitude"
										type="text" required >
								</li>
								<li>
									<input id="project_name" name="project_name" type="text" placeholder="Project Name" required >
								</li>
								<li>
									<select id="project_category" name="project_category" >
										<option value="" disabled selected>Project Category</option>
										 <% for (var i = 0; i < categories.length; i++) { %>
											<option value='<%= categories[i]['_id'] %>' class="input"><%=categories[i]['name']%> </option>
										<% }%>
									</select>
								</li>
								<li>
									<textarea id="project_address" name="project_address"
										form="project_entry" placeholder="Project Address" required ></textarea>
								</li>
								<li>
									<textarea id="project_narrative"
										name="project_narratives"
										form="project_entry" placeholder="Project Narrative" required ></textarea>
								</li>
								<li>
									<button type="button" id="add_image">
										Add Image
									</button>
									<div id="image_injection_div"></div>
								</li>
								<li>
									<button type="button" id="add_entry">
										Add Custom Field 
									</button>
									<div id="custom_field_injection_div"></div>
								</li>
								<li>
									<button form="project_entry" type="submit" value="submit" id="submit_button_id" >
										Update Project
									</button>
								</li>
							</ul>
						</form>
					</div>

					<div id="edit_category_panel">
						<form id="project_entry" enctype="multipart/form-data" action="/admin/update-category" method="post">
							<ul id="entry_list">
								<li>
									New Category:
								</li>
								<li>
									<input id="new_category" name="new_category" type="text" placeholder="New Project Category">
								</li>
								<li> 
									<span style="font-size:11px; align:center">(Choose an image/color radiobuttons) </span>
								</li>
								<li>
									<button type="submit" id="update_cat" value="update_cat"  disabled>
										Update Categories
									</button>
								</li>
							</ul>
						</form>

						Current Categories:
							<form>
								<% for (var i = 0; i < categories.length; i++) { %>
									<input class="input" value="<%=categories[i]['name'] %>"> <br>
								<% }%>
							</form>
						
						<form id="category_entry">
							<input type="hidden" name="c_id" id="c_id" value=""/>
							<input type="hidden" name="cat_cnt" id="cat_cnt" value="0"/>
							<ul id="category_list"></ul>
						</form>
						<b style="color:red">TODO:Tooltips/Warnings for empty text field</b><br />

							<!-- <div id="color_buttons" style="display:block;">
								<input type="radio" id="icon" name="marker_type" value="none" checked='checked' form="project_entry">None<br>
								<input type="radio" id="icon" name="marker_type" value="green" form="project_entry">Green<br>
								<input type="radio" id="icon" name="marker_type" value="red" form="project_entry">Red<br>
								<input type="radio" id="icon" name="marker_type" value="orange" form="project_entry">Orange<br>
							</div> -->
					</div>

					<div id="database_panel">
						<form action="/admin/download" method="GET">
							<button type="submit" id="export_button" class="btn">Export Database</button>
						</form>
					   
						<form action="/admin/upload" style = "float:left" method="POST" enctype="multipart/form-data">
							<input type="file" name="csvFile"> 
							<button type="submit" id="import_button">Import File</button>
						</form>

						<form action="/signup-user" method="post">		                
		                    <div>
		                        <input placeholder="Username" type="text" name="username"/>
		                    </div>
		                    <div>
		                        <input placeholder="Password" type="password" name="password"/>
		                    </div>		              
		                    <div>
		                        <input type="submit" value="Create User"/>
		                    </div>
	                	</form>

					</div>

				</div>
				
				<div id="map"></div>
				
			</div>
		</div>        
	</body>
</html>
