<!doctype html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<title>LACC Asset Mapping Project</title>
				<script src="jquery-1.11.0.min.js"></script>
				<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
				<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
				<script src="/socket.io/socket.io.js"></script>
				<script src="/index.js"></script> 
				<link rel="stylesheet" href="/index.css">
				<link href="multiple-select2/multiple-select.css" rel="stylesheet"/>
				<script src="multiple-select2/jquery.multiple.select.js"></script>
		</head>
		<body >
				<div id="project_title"></div>
				<div id="main">
						<div id="title">
							LA Conservation Corps Projects 
							<span id="title_span" >
								A visual history of LACC public works.
								
								<a href="#"><img src="download_icon.png" class="filters_class" id="filters_download"></a>
								<input type="text" name="filtered_string" id="filter" class="filters_class" placeholder="Search Projects"/> 
								
								<div class="filters_class">
									<!-- INSIDE OUTSIDE LA MUST BE ADDED AS DEFAULT CATEGORIES -->
									<select multiple id="filter-categories">
										<option class="categories" value="inside_LA" selected="selected">Inside LA</option>
										<option class="categories" value="outside_LA" selected="selected">Outside LA</option>
										<% for (var i = 0; i < categories.length; i++) { %>
											<option class="categories" value="<%=categories[i]['_id'] %>"><%=categories[i]['name'] %></option>
										<% }%>
									</select>

								</div>

							</span>
						</div>
						<div id="map"></div>
						<div id="project_title"></div>
						<div id="lightbox" class="lightbox" style="display:none"
									onclick="document.getElementById('lightbox').style.display='none';">
							 <table class="lightbox_table">
							 <tr>
							 <td class="lightbox_table_cell" align="center">
									<div id="lightbox_content">
										 <img id="lightbox_image" src="pin.png" />
										 <p style="color:red">WE NEED SOMETHING TO GO HERE.</p>
									</div>
							 </td>
							 </tr>
							 </table>
						</div>
				</div>    
		</body>
</html>
