<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LACC Asset Mapping Project</title>
        <script src="jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/index.js"></script> 
        <link rel="stylesheet" href="/index.css">
       
    </head>
    <body >
        <div id="title">LA Conservation Corps Projects <span style="font-size: 14px;">A visual history of LACC public works.</span> </div>

        <form  >
            <input type="text" name="filtered_string" id="filtered_string" /> 
            <button type="button"  id="filter">submit</button>
        </form>
        
        <div id="map"></div>
        <div id="project_title"></div>
       

    </body>
</html>
