<!doctype html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<title>LACC Asset Mapping Project</title>
				<script src="jquery-1.11.0.min.js"></script>
				<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
				<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
				<script src="/socket.io/socket.io.js"></script>
				<script src="/spin.js"></script> 
				<script src="/index.js"></script> 
				<link rel="stylesheet" href="/index.css">
				<link href="multiple-select2/multiple-select.css" rel="stylesheet"/>
				<script src="multiple-select2/jquery.multiple.select.js"></script>
				<!-- Stuff for about modal -->
				<link rel="stylesheet" href="jquery-ui-dialog.css">
  				<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		</head>
		<body >



				<div id="project_title"></div> <!-- doesnt do anything... fix and add more padding to page...-->
				<div style="float:center" id="spinner"></div>
				<div id="main">



					<span style="float:right; font-size:12px"><a href="#" class="showModal">about</a></span>
						<div id="title">
							LA Conservation Corps Projects 
							<span id="title_span" >
								A visual history of LACC public works. 
								<a href="#"><img title="Download all visible points as a spreadsheet." src="download_icon.png" class="filters_class" id="Csv_Download"></a>
								<input type="text" name="filtered_string" id="filter" class="filters_class" placeholder="Search Projects"/>	
								<div class="filters_class">
									<select multiple id="location_radio" class="filters_class">
										<option value="">All Projects</option>
										<option value="true">Inside LA</option>
										<option value="false">Outside LA</option>
									</select>
									<select multiple id="filter-categories">
										<% for (var i = 0; i < categories.length; i++) { %>
											<option class="categories" value="<%=categories[i]['_id'] %>"><%=categories[i]['name'] %></option>
										<% }%>
									</select>
								</div>
							</span>
						</div>
						<div id="map"></div>
						<div id="project_title"></div>
						<div id="lightbox" class="lightbox" style="display:none"
									onclick="document.getElementById('lightbox').style.display='none';">
							 <table class="lightbox_table">
							 <tr>
							 <td class="lightbox_table_cell" align="center">
									<div id="lightbox_content">
										 <img id="lightbox_image" src="pin.png" />
										 <p style="color:red">WE NEED SOMETHING TO GO HERE.</p>
									</div>
							 </td>
							 </tr>
							 </table>
						</div>
		
				</div>    

		<div id="modalContents" style="display:none;">
		  <div style="">LACC Public Works Map</div><br />
		  <div style="font-size:14px">This map displays the (thousands?) of projects the LACC has worked on since its inception in 1986. Click on points to get details about specific projects.<br /><br />
		  This project was created for USC's CSCI 477, a senior project type class to capstone the Computer Science major. It was developed over the course of a year by Michael Whitaker, Roy Iacob, Partha Mahajani, Saral Jalan, Chris McLaughlin, Jared Borner, and Adam Moguel.<br /><br />
		  <a href="https://github.com/chrismclaughlin55/new-lacc">Check out the source code on Github</a></div>
		</div>

		</body>
</html>
