<!doctype html>
<html lang="en">
		<head>
				<meta charset="utf-8">
				<title>LA Conservation Corps: Selected Projects”</title>
				<script src="jquery-1.11.0.min.js"></script>
				<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
				<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
				<script src="/socket.io/socket.io.js"></script>
				<script src="/spin.js"></script> 
				<script src="/index.js"></script> 
				<link rel="stylesheet" href="/index.css">
				<link href="multiple-select2/multiple-select.css" rel="stylesheet"/>
				<script src="multiple-select2/jquery.multiple.select.js"></script>
				<!-- Stuff for about modal -->
				<link rel="stylesheet" href="jquery-ui-dialog.css">
  				<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		</head>
		<body >
				<div id="project_title"></div> <!-- doesnt do anything... fix and add more padding to page...-->
				<div style="float:center" id="spinner"></div>
				<div id="main">
					<span style="float:right; font-size:12px"><a href="#" id="reset_filters" style="margin-right:10px">Reset Filters</a> <a href="#" class="showModal" style="font-family:open-sans">About</a></span>
							
						<div id="title">
							<a href="http://lacorps.org"><img src="style/corps.png" style="width:200px; margin-top:-10px; margin-bottom:-10px; margin-left:0px; margin-right:10px"></a>
							<span id="lacc_span">LA Conservation Corps:
							<span id="title_span">
								selected projects 
								<a href="#"><img title="Download all visible points as a spreadsheet." src="download_icon.png" class="filters_class" id="Csv_Download" style="margin-top:26px"></a>
								<input style="font-family:open-sans" type="text" name="filtered_string" id="filter" class="filters_class" placeholder="Search Projects" style="margin-top:26px"/>
								<div class="filters_class" style="font-family:open-sans">
									<select multiple id="location_radio" class="filters_class">
										<option value="">All Projects</option>
										<option value="true">Inside LA</option>
										<option value="false">Outside LA</option>
									</select>
									<select multiple id="filter-categories" style="font-family:open-sans">
										<% for (var i = 0; i < categories.length; i++) { %>
											<option class="categories" value="<%=categories[i]['_id'] %>"><%=categories[i]['name'] %></option>
										<% }%>
									</select>
								</div>

						</div>
						<div id="map"></div>
						<div id="project_title"></div>
						<div id="lightbox" class="lightbox" style="display:none"
									onclick="document.getElementById('lightbox').style.display='none';">
							 <table class="lightbox_table">
							 <tr>
							 <td class="lightbox_table_cell" align="center">
									<div id="lightbox_content">
										 <img id="lightbox_image" src="pin.png" />
										 <p id="caption_id" style="color:red">WE NEED SOMETHING TO GO HERE.</p>
									</div>
							 </td>
							 </tr>
							 </table>
						</div>
		
				</div>    

		<div id="modalContents" style="display:none;">
		  <div style="">LACC Public Works Map</div><br />
		  <div style="font-size:14px">
            Content goes here.
          </div>
		</div>

		</body>
</html>
