

.leaflet-popup-content-wrapper { 
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
}  

html{

    height: 120%;
}

body, p {
    background-color:#b8e5ee;
    padding: 0;
    margin: 0;
    font: 12px 'Myriad Pro', Myriad, Tahoma, 'sans-serif';


}

#foreground {
    background-color: #FFF;
    width: 980px;
    height: 1080px;
    margin-left: auto ;
    margin-right: auto ;
    box-shadow: 0px 20px 60px 5px #888488;
}


#nav {
    text-transform:uppercase;
    font: "Myriad Pro";
    background:#54b948;
    width:980px;
    height:28px;
    margin-top: -10px;
    float:left; //previously left
}


#nav li {
    display:inline;
    margin:15px; 
}


#nav a:link,
#nav a:visited {
    color:#FFF;
    text-decoration:none;
    
}

#bannerid {
    width:980px; 
    height:130px;
}

#title {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    padding-top: 50px;
    font: 36px 'Myriad Pro', Myriad, Tahoma, 'sans-serif';
}

#sidebar { /* left */
    position: relative;
    width: 20%;
    margin-right: 1%;
    float: left;
    padding:5px;
}

#gen_info {
    position: relative;
    float: right;
}

#gen_cat {
    font: italic 12px Georgia, "Times New Roman", Times, serif;
}

#filters {
    position: relative;
    width: 17%;
    float: right;
    margin-left: 35px;
}

.filter_button {
    position: relative;
    margin-bottom: 10px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    outline: none;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    width: 140px;
    border-color: #f0f0f0;
    font: 16px Georgia, "Times New Roman", Times, serif;
}

.filter_button:hover {
    cursor: pointer;
    background: #ccc;
}

.toggle_off {
    background: #f0f0f0;
}

.toggle_on {
    background: #ccc;
}

#center {
    position: relative;
    width: 50%;
    float: left;
}

#map {
    position: relative;
    width: 120%;
    height: 400px;
    border: 2px solid #aaa;
}

#project_title {
    position: relative;
    width: 100%;
    font: 24px Georgia, "Times New Roman", Times, serif;
    margin: 15px 0;
}

#photos {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 5px 0;
    border: 1px solid #cccccc;
}

.photos {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 5px 0;
    border: 1px solid #cccccc;
}

#narrative {
    position: relative;
    width: 100%;
    font: 16px Georgia, "Times New Roman", Times, serif;
    margin: 35px 0;
}

