.leaflet-popup-content-wrapper { 
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
}  

body, p {
    padding: 0;
    margin: 0;
    /*background-color: #444;*/
    background-color: rgb(183,216,163);
    height: 100%;
    width:98%;
}

#title {
    width: 100%;
    margin-left: 20px;
    padding: 15px 0;
    padding-top: 15px;
    font: 36px 'Helvetica', Helvetica, 'sans-serif';
    /*color: #FFF;*/
    color:rgb(56,34,23);
    vertical-align: top;
}

#map {
    position: relative;
    width: 100%;
    height: 580px;
    border: 1px solid #aaa;
    border-top-width:2px;
    border-bottom-width:7px;


    vertical-align: bottom;
    margin-bottom: -100px;
}

#project_title {
    position: relative;
    width: 100%;
    font: 24px Georgia, "Times New Roman", Times, serif;
    margin: 15px 0;
}

.lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .8);
}

.lightbox_table {
    width:100%;
    height:100%;
}

.lightbox_table_cell {
    vertical-align:middle;
}

#lightbox_content {
    font: 14px Georgia, "Times New Roman", Times, serif;
    width:400px; 
    border:5px solid black;
    color:rgb(56,34,23);
}

#lightbox_image {
    width:100%; 
    height:100%;
}

.lightbox_thumbnail:hover {
    cursor: pointer;
    /*border:2px solid #3b5998;*/
}


.leaflet-popup-content  {
    /*display: inline-block;*/
    overflow-y: scroll;
    overflow-x: hidden;

    /*max-width: 240px;*/
    max-height: 140px;
    max-width: 270px;
       
}

.filters_class {
    float:right;
    margin-top: 10px;
    margin-right: 0px;
}

#filter { 
    margin-right:5px;
    height:19px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2.5px 7px;
    border: 1px solid #aaa;
    -webkit-appearance: none;

}

#filter-categories {
    margin-bottom:40px;
    width:95px;   
}

#title_span {
    font-size: 14px;
}

#Csv_Download {
    margin-right: 10px;
    height:23px;
}

#location_radio {
    width:90px;
}

.title_class {
    font-size: 18px ;

}

.thumbnail_class {
    width:95px;
    height:auto; 
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.narrative_class {
    margin-bottom: 15px;

}

div.leaflet-popup-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
div.leaflet-popup-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
