<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LACC Login</title>
        <script src="/index.js">
        </script>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body >
        <div id = "foreground">


            <div id="title">
                Admin Login <br /> <br />

                <div id="sidebar"></div>
                    <div id="center">
                    <form action="/login-user" method="post">
                        <div>
                            <label>Username:</label>
                            <input type="text" name="username"/>
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <div>
                            <input type="submit" value="Log In"/>
                        </div>
                    </form>

                    <% if(message.length > 0){ %>
                      <span style="color:red; font-size:13px"><div class="error messages"><%= message %></div></span>
                    <% } %>

                    </div>
                    </form>
                </div>
        </div>
    </body>
</html>














